
    </main>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;"> 
        <!-- Instagram --> <symbol id="instagram" viewBox="0 0 16 16"> <path d="M8 0C5.8 0 5.5.01 4.7.05c-.8.04-1.35.17-1.84.37a3.7 3.7 0 0 0-1.34.87 3.7 3.7 0 0 0-.87 1.34c-.2.49-.33 1.04-.37 1.84C.01 5.5 0 5.8 0 8s.01 2.5.05 3.3c.04.8.17 1.35.37 1.84.2.49.47.92.87 1.34.42.4.85.67 1.34.87.49.2 1.04.33 1.84.37.8.04 1.1.05 3.3.05s2.5-.01 3.3-.05c.8-.04 1.35-.17 1.84-.37.49-.2.92-.47 1.34-.87.4-.42.67-.85.87-1.34.2-.49.33-1.04.37-1.84.04-.8.05-1.1.05-3.3s-.01-2.5-.05-3.3c-.04-.8-.17-1.35-.37-1.84a3.7 3.7 0 0 0-.87-1.34 3.7 3.7 0 0 0-1.34-.87c-.49-.2-1.04-.33-1.84-.37C10.5.01 10.2 0 8 0zm0 1.44c2.17 0 2.43.01 3.29.05.7.03 1.08.15 1.33.25.34.13.58.3.83.55.25.25.42.49.55.83.1.25.22.63.25 1.33.04.86.05 1.12.05 3.29s-.01 2.43-.05 3.29c-.03.7-.15 1.08-.25 1.33-.13.34-.3.58-.55.83-.25.25-.49.42-.83.55-.25.1-.63.22-1.33.25-.86.04-1.12.05-3.29.05s-2.43-.01-3.29-.05c-.7-.03-1.08-.15-1.33-.25a2.3 2.3 0 0 1-.83-.55 2.3 2.3 0 0 1-.55-.83c-.1-.25-.22-.63-.25-1.33C1.45 10.43 1.44 10.17 1.44 8s.01-2.43.05-3.29c.03-.7.15-1.08.25-1.33.13-.34.3-.58.55-.83.25-.25.49-.42.83-.55.25-.1.63-.22 1.33-.25C5.57 1.45 5.83 1.44 8 1.44zm0 2.47a4.09 4.09 0 1 0 0 8.18 4.09 4.09 0 0 0 0-8.18zm0 6.73a2.64 2.64 0 1 1 0-5.27 2.64 2.64 0 0 1 0 5.27zm4.33-7.77a.96.96 0 1 1-1.92 0 .96.96 0 0 1 1.92 0z"/> </symbol> 
        <!-- X (Twitter) --> <symbol id="x" viewBox="0 0 24 24"> <path d="M18.244 2H21.5l-7.51 8.57L23 22h-6.843l-5.354-6.49L4.5 22H1.243l8.273-9.45L1 2h6.843l4.928 5.973L18.244 2zm-2.4 17.52h1.8L7.26 4.48H5.34l10.504 15.04z"/> </symbol> 
    </svg>
    <div class="container"> 
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"> 
            <div class="col-md-4 d-flex align-items-center"> 
                <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap"> 
                    <svg class="bi" width="30" height="24" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg> 
                </a> 
                <span class="mb-3 mb-md-0 text-body-secondary">© 2025 GHS Class of '87</span> 
            </div> 
            <div class="text-center mt-3 mb-3">
                <small>Created by Caroline Kisembo</small>
            </div>
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3">
                    <a class="text-body-secondary" href="https://www.instagram.com/gayazaoldgirls/?hl=en" aria-label="Instagram">
                        <svg class="bi" width="24" height="24" aria-hidden="true"><use xlink:href="#instagram"></use></svg>
                    </a>
                </li> 
                <!-- X (Twitter) --> 
                <li class="ms-3"> 
                    <a class="text-body-secondary" href="https://x.com/oldgirlsgayaza?lang=en" aria-label="X"> 
                        <svg class="bi" width="24" height="24"> <use xlink:href="#x"></use> </svg> 
                    </a> 
                </li> 
            </ul> 
        </footer> 
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>

