<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Caroline Kisembo">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
    <title>year in review</title>
</head>
<body>
    <header> 
        <div class="px-3 py-2 text-bg-primary border-bottom"> 
            <div class="container"> 
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"> 
                    <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"> 
                        <img src="/images/gayaza.png" alt="school symbol" class="d-inline-block align-text-top me-2 rounded-circle" style="width: 44px; height: 44px; object-fit: cover; box-shadow: 0 4px 10px rgba(0,0,0,0.45);">
                        <span class="fs-3">Class of '87, Year in Review</span>                         
                    </a> 
                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small"> 
                        <li> 
                            <a href="/" class="nav-link text-secondary d-flex flex-column align-items-center"> 
                                <img src="/images/hello.png" style="width: 32px; height: 32px;" alt="welcome">
                                <span>Welcome</span>
                            </a> 
                        </li> 
                        <li> 
                            <a href="/easter" class="nav-link text-secondary d-flex flex-column align-items-center text-white"> 
                                <img src="/images/easter.png" style="width: 32px; height: 32px;" alt="Easter">
                                <span>Easter</span>
                            </a> 
                        </li>
                        <li> 
                            <a href="/spinning" class="nav-link text-secondary d-flex flex-column align-items-center text-white">
                                <img src="/images/spinning.png" style="width: 32px; height: 32px;" alt="Fitness">                                 
                                <span>Fitness</span>
                            </a> 
                        </li> 
                        <li> 
                            <a href="/trip" class="nav-link text-secondary d-flex flex-column align-items-center text-white"> 
                                <img src="/images/girltrip.png" style="width: 32px; height: 32px;" alt="trip">                                 
                                <span>Gal Trip</span>
                            </a> 
                        </li> 
                        <li> 
                            <a href="/christmas" class="nav-link text-secondary d-flex flex-column align-items-center text-white"> 
                                <img src="/images/christmas.png" style="width: 32px; height: 32px;" alt="christmas">
                                <span>Christmas</span>
                            </a> 
                        </li> 
                        <li> 
                            <a href="/ahead" class="nav-link text-secondary d-flex flex-column align-items-center text-white"> 
                                <img src="/images/lookingahead.png" style="width: 32px; height: 32px;" alt="binoculars"> 
                                <span>2026</span>
                            </a> 
                        </li> 
                    </ul> 
                </div> 
            </div> 
        </div>      
    </header>
    <main>
</body>
</html>
