<%- include("partials/header.ejs") %>

<div class="container mb-5">
  <div class="px-2 py-1 my-1 text-center"> 
      <h2 class="display-4 fw-bold text-body-emphasis">Looking Ahead</h2>      
  </div>
  <div class="row align-items-center g-lg-3 py-3"> 
      <div class="col-lg-6 text-center text-align-justify"> 
          <h3 class="display-5 fw-normal lh-1 text-body-emphasis mb-1">Handover</h3>         
          <p class="col-lg-10 fs-5 mb-4 mx-auto">Ladies, as you are now aware, our outgoing class rep <strong><em>Sarah Male</em></strong> for 2025, has officially handed over to <strong><em>Pamela Tumwebaaze a.k.a "MpiriPa"</em></strong>, the incoming class rep!</p>
          <p class="col-lg-10 fs-5 mb-4 mx-auto">As Debbie Sewie has cryptically put it, <strong><em>"Instruments of power get to transfer from "Tulip Tree" and "Canna Lily", the dwellings south of the borehole, to other regions!"</em></strong> I guess that those who know, know!</p>
          <p class="col-lg-10 fs-5 mb-4 mx-auto">In addition, <strong><em>"MpiriPa"</em></strong> has proposed a handover tea, "tu kusiima bulungi" our outgoing rep, and continue strategizing for 2026. Be there!</p>
          <p class="col-lg-10 fs-5 mb-4 mx-auto">Tweyanziza, Twenyanzege, Sarah Male, kale no lulala......</p>
      </div> 
      <div class="col-md-10 mx-auto col-lg-6 text-center text-align-justify"> 
          <h3 class="display-5 fw-normal lh-1 text-body-emphasis mb-1">What's the proggie?</h3>
          <p class="col-lg-10 fs-5 mb-4 mx-auto">Meanwhile, our new class rep, has hit the ground running with a tentative program on how we can connect and continue to have fun together, <strong><em>(Mark your calendars)</em></strong>! Your input and ideas are also welcome.</p>
          <p class="col-lg-10 fs-5 mb-4 mx-auto">Pam and Maureen have us covered up to end of April 2026, however, after that more members are needed to host/manage activities for the remaining months, feel free to volunteer!</p>
          <p class="col-lg-10 fs-5 mb-4 mx-auto">Doris, Elizabeth and Doreen had in times past, offered, and class rep is hoping the offers still stand, more  of you are welcome to offer/volunteer! <em>"Twebereremu"</em> </p>
      </div> 
  </div>    
</div>
<div class="container px-3 moments-section">
  <div class="row justify-content-center g-3">
    <!-- Left Carousel -->
    <div class="col-12 col-md-4">
      <div class="moments-tile">
        <div id="leftMeetupCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/aob/griefjanet.jpg" class="d-block  w-auto">
            </div>
            <div class="carousel-item">
              <img src="/images/aob/griefjanet2.jpg" class="d-block  w-auto">
            </div>
            <div class="carousel-item">
              <img src="/images/aob/griefsarah.jpg" class="d-block  w-auto">
            </div>
          </div>          
          <button class="carousel-control-prev" type="button" data-bs-target="#leftMeetupCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#leftMeetupCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </button>          
        </div>
      </div>
    </div>
    <!-- Center Carousel -->
    <div class="col-12 col-md-4">
      <div class="moments-tile">
        <div id="centerMeetupCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/aob/amyrebecca.jpg" class="d-block  w-auto">
            </div>
            <div class="carousel-item">
              <img src="/images/aob/ednarjoyna.jpg" class="d-block  w-auto">
            </div>
            <div class="carousel-item">
              <img src="/images/aob/katogo.jpg" class="d-block  w-auto">
            </div>
            <div class="carousel-item">
              <img src="/images/aob/rebeccapam.jpg" class="d-block  w-auto">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#centerMeetupCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#centerMeetupCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </button>          
        </div>
      </div>
    </div>
    <!-- Right Carousel -->
    <div class="col-12 col-md-4">
      <div class="moments-tile">
        <div id="rightMeetupCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/aob/gday1.jpg" class="d-block  w-auto">
            </div>
            <div class="carousel-item">
              <img src="/images/aob/gday2.jpg" class="d-block  w-auto">
            </div>
            <div class="carousel-item">
              <img src="/images/aob/gday3.jpg" class="d-block  w-auto">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#rightMeetupCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#rightMeetupCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </button>          
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>