<%- include("partials/header.ejs") %>

<div class="px-4 py-3 my-3 text-center">     
    <h1 class="display-4 fw-bold text-body-emphasis">2025, a recap!</h1>     
    <div class="col-lg-6 mx-auto"> 
        <p class="fs-5 mb-4 mx-auto">Another year in the books, o how quickly time flies!</p> 
        <p class="fs-5 mb-4 mx-auto">Dive into the highlights of 2025 captured in the photo collections from our interactions in the course of the year and relieve our shared memories, laughter, energy and excitement!</p>
        <p class="fs-5 mb-4 mx-auto">The chance meetups, the scheduled catch up dates, standing with those who have lost beloved parents, but mostly classmates forging time out of their busy schedules to hang out!</p>        
    </div> 
</div>
<div class="container my-3">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <a href="/trip" class="text-decoration-none">
                <div class="cta-animated-card text-center p-4">
                    <h3 class="display-5 fw-normal mb-2">Gal Trip</h3>
                    <p class="mb-2">The gal trip to Jinja was arguably the most memorable, starting off with brunch at Sezibwe Falls and closing out with a game night!</p>
                    <p class="mb-0">"A picture is worth a thousand words", introducing the Jinja trip memorial wall!</p>
                </div>
            </a>
        </div>
    </div>
</div>


<%- include("partials/footer.ejs") %>